<label for="curriculum-select">Curriculum: </label>

<select name="curriculum" id="curriculum-select" (change)="updateCurriculum($event)">
    <option value="MCI" selected>Multimedia computing and interaction</option>
    <option value="SE">Software engineering</option>
    <option value="NS">Networks and security</option>
    <option value="IS">Information science and applications</option>
</select>

<div id="main-content">
    <div id="plan">
        <table id="plan-table" class="styled-table">
            <caption>Study plan</caption>
            <thead>
            <tr>
                <th></th>
                <th>
                    Group
                </th>
                <th>
                    CFU
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let group of getCurriculumGroups()">
                <td></td>
                <td [ngStyle]="getCFUCellStyle(group)">{{group}}</td>
                <td [ngStyle]="getCFUCellStyle(group)" class="maxCfuCell">
                    {{getCFU(group)}}/{{getMaxCFU(group)}}
                </td>
            </tr>
            </tbody>
        </table>
        <button (click)="removeAllCourses()" id="reset-courses-btn">Reset courses</button>
    </div>

    <div id="courses">

        <div id="table-wrapper" class="year"
             *ngFor="let conf of [{semester:1},{semester:2}]">
            <table class="styled-table">
                <caption>Semester {{conf.semester}}</caption>
                <thead class="course-header">
                <tr>
                    <th id="add-course-column"></th>
                    <th id="course-name-column"></th>
                    <th *ngFor="let group of getCurriculumGroups()">{{group}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let course of getCourses(conf)" [ngStyle]="{'background-color' : getCourseIfSelected(course) ? '#b3ffb3' : ''}">
                    <td style="width: 5%">
                        <input type="checkbox"
                               *ngIf="getCourseIfSelected(course)"
                               [checked]="true"
                               (change)="removeCourse(course)">
                    </td>
                    <td class="course-name">{{course.name}}</td>
                    <td *ngFor="let group of getCurriculumGroups()">
                        <input *ngIf="course.groups?.includes(group)"
                               type="radio"
                               name="group-{{course.name?.replace('/\s/g', '')}}"
                               value="{{group}}"
                               [disabled]="getCFU(group) >= getMaxCFU(group) && !getCourseIfSelected(course, group)"
                               [checked]="getCourseIfSelected(course, group)"
                               (change)="addCourse(course, group)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
